<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<section layout:fragment="content">
    <h1>게시글 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${board}"> <!-- model로 연결한 board를 통해 item에 값을 전달 -->
            <td th:text="${item.id}"></td>
            <td>
                <a th:href="@{/board/{id}(id=${item.id})}" th:text="${item.title}"></a>
            </td>
            <td th:text="${item.author}"></td>
            <td th:text="${#temporals.format(item.reg_dt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button type="button" id="create_btn" th:onclick="|location.href='@{newBoard}'|">글 쓰기</button>
    </div>
</section>
</html>