<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment 로 내용만 작성 -->
<section layout:fragment="content">
    <div>
        <h1 th:text="${boardContent.title}"></h1>
    </div>
    <div>
        <!-- id값을 hidden으로 뷰에는 숨겨서 가져오고 board_id는 js에서 사용 -->
        <input type="hidden" id="board_id" th:value="${boardContent.id}">
        <div>
            <!-- 날짜의 형식 지정, 작성 내용 가져오기 -->
            <div th:text="${#temporals.format(boardContent.reg_dt, 'yyyy-MM-dd HH:mm')}"></div>
            <div th:text="${boardContent.content}"></div>
        </div>
        <div>
            <!-- 수정 버튼 클릭 시 /newBoard?id=id번호로 이동 -->
            <button type="button"
                    th:onclick="|location.href='@{/newBoard?id={boardId}(boardId=${boardContent.id})}'|">수정</button>
            <button type="button" id="delete_btn">삭제</button>
        </div>
    </div>
    <script src="/js/board/board.js"></script>
</section>
</html>